
LDAPLogin {
  org.apache.activemq.jaas.LDAPLoginModule required
    debug=true
    initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
    connectionURL="ldap://##### LDAP_HOST #####:##### LDAP_PORT #####"
    connectionUsername="cn=admin,dc=activemq,dc=apache,dc=org"
    connectionPassword=admin
    connectionProtocol=""
    authentication=simple
    userBase="ou=User,ou=ActiveMQ,dc=activemq,dc=apache,dc=org"
    userRoleName=admins
    userSearchMatching="(uid={0})"
    userSearchSubtree=false
    roleBase="ou=Group,ou=ActiveMQ,dc=activemq,dc=apache,dc=org"
    roleName=cn
    roleSearchMatching="(member=uid={1})"
    roleSearchSubtree=true;
}; 

ldaptive-activemq-ldap {
  org.ldaptive.jaas.LdapLoginModule required
      debug=true
      storePass="true"
      ldapUrl="ldap://##### LDAP_HOST #####:##### LDAP_PORT #####"
      bindDn="cn=admin,dc=activemq,dc=apache,dc=org"
      bindCredential="admin"
      baseDn="ou=User,ou=ActiveMQ,dc=activemq,dc=apache,dc=org"
      useStartTLS="false"
      subtreeSearch=true
      userFilter="(uid={user})";
  org.ldaptive.jaas.LdapRoleAuthorizationModule required
      useFirstPass="true"
      ldapUrl="ldap://##### LDAP_HOST #####:##### LDAP_PORT #####"
      bindDn="cn=admin,dc=activemq,dc=apache,dc=org"
      bindCredential="admin"
      baseDn="ou=Group,ou=ActiveMQ,dc=activemq,dc=apache,dc=org"
      useStartTLS="false"
      subtreeSearch=true
      roleFilter="(&(objectClass=groupOfNames)(member=uid={user}))"
      roleAttribute="cn";
};

LDAPLogin-Jetty {
  org.eclipse.jetty.plus.jaas.spi.LdapLoginModule required
    debug="true"
    contextFactory="com.sun.jndi.ldap.LdapCtxFactory"
    hostname="##### LDAP_HOST #####"
    port="##### LDAP_PORT #####"
    bindDn="cn=admin,dc=activemq,dc=apache,dc=org"
    bindPassword="admin"
    authenticationMethod="simple"
    forceBindingLogin="true"
    userBaseDn="ou=User,ou=ActiveMQ,dc=activemq,dc=apache,dc=org"
    userRdnAttribute="uid"
    userIdAttribute="uid"
    userPasswordAttribute="userPassword"
    userObjectClass="inetOrgPerson"
    roleBaseDn="ou=Group,ou=ActiveMQ,ou=system"
    roleNameAttribute="cn"
    roleMemberAttribute="member"
    roleObjectClass="groupOfNames"
    authenticated="true";
};
