ldap-with-roles {
    org.eclipse.jetty.jaas.spi.LdapLoginModule required
    debug="false"
    useLdaps="false"
    contextFactory="com.sun.jndi.ldap.LdapCtxFactory"
    hostname=""
    port="389"
    bindDn="CN=,OU=Service-Accounts,DC=my,DC=domain,DC=com"
    bindPassword="##########"
    authenticationMethod="simple"
    forceBindingLogin="false"
    userBaseDn="ou=Users,DC=my,DC=domain,DC=com"
    userRdnAttribute="sAMAccountName"
    userIdAttribute="sAMAccountName"
    userPasswordAttribute="unicodePwd"
    userObjectClass="user"
    userRoleName="memberof"
    authzIdentity="{displayName}"
    roleSearch="(member={0})"
    roleName="cn"
    roleSubtree="true"
    roleBaseDn="ou=Keybox-Groups,DC=my,DC=domain,DC=com"
    roleNameAttribute="sAMAccountName"
    roleMemberAttribute="member"
    roleObjectClass="group"
};

