/**
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

activemq {
    org.apache.activemq.jaas.PropertiesLoginModule required
        org.apache.activemq.jaas.properties.user="users.properties"
        org.apache.activemq.jaas.properties.group="groups.properties";
};

LDAPLogin {
  org.apache.activemq.jaas.LDAPLoginModule required
    debug=true
    initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
    connectionURL="ldap://127.0.0.1:389"
    connectionUsername="cn=admin,dc=activemq,dc=apache,dc=org"
    connectionPassword=admin
    connectionProtocol=""
    authentication=simple
    userBase="ou=User,ou=ActiveMQ,dc=activemq,dc=apache,dc=org"
    userRoleName=admins
    userSearchMatching="(uid={0})"
    userSearchSubtree=false
    roleBase="ou=Group,ou=ActiveMQ,dc=activemq,dc=apache,dc=org"
    roleName=cn
    roleSearchMatching="(member:=uid={1})"
    roleSearchSubtree=true;
};

jetty-ldap {
    org.eclipse.jetty.jaas.spi.LdapLoginModule required 
    debug="true"
    useLdaps="false"
    contextFactory="com.sun.jndi.ldap.LdapCtxFactory"
    hostname="localhost"
    port="389"
    bindDn="cn=admin,dc=activemq,dc=apache,dc=org"
    bindPassword="admin"
    authenticationMethod="simple"
    forceBindingLogin="true"
    userBaseDn="ou=User,ou=ActiveMQ,dc=activemq,dc=apache,dc=org"
    userRdnAttribute="uid"
    userIdAttribute="uid"
    userPasswordAttribute="userPassword"
    userObjectClass="person"
    roleBaseDn="ou=Group,ou=ActiveMQ,dc=activemq,dc=apache,dc=org"
    roleNameAttribute="cn"
    roleMemberAttribute="member"
    roleObjectClass="groupOfNames"
    authenticated="true";
};

ldaptive-activemq-ldap {
  org.ldaptive.jaas.LdapLoginModule required
      debug=true
      storePass="true"
      ldapUrl="ldap://__LDAP_HOST__:__LDAP_PORT__"
      bindDn="cn=admin,dc=activemq,dc=apache,dc=org"
      bindCredential="admin"
      baseDn="ou=User,ou=ActiveMQ,dc=activemq,dc=apache,dc=org"
      useStartTLS="false"
      subtreeSearch=true
      userFilter="(uid={user})";
  org.ldaptive.jaas.LdapRoleAuthorizationModule required
      useFirstPass="true"
      ldapUrl="ldap://__LDAP_HOST__:__LDAP_PORT__"
      bindDn="cn=admin,dc=activemq,dc=apache,dc=org"
      bindCredential="admin"
      baseDn="ou=Group,ou=ActiveMQ,dc=activemq,dc=apache,dc=org"
      useStartTLS="false"
      subtreeSearch=true
      roleFilter="(&(objectClass=groupOfNames)(member:=uid={user}))"
      roleAttribute="cn";
};

/**
   LDAP Authentication Using the JAAS Plugin
   https://activemq.apache.org/security
*/
LDAPLogin-activemq-example { 
    org.apache.activemq.jaas.LDAPLoginModule required 
    debug=true 
    initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory 
    connectionURL="ldap://localhost:389" 
    connectionUsername="cn=mqbroker,ou=Services,dc=acme,dc=com" 
    connectionPassword=password connectionProtocol=s 
    authentication=simple 
    userBase="ou=User,ou=ActiveMQ,ou=systems,dc=acme,dc=com" 
    userRoleName=dummyUserRoleName 
    userSearchMatching="(uid={0})" 
    userSearchSubtree=false 
    roleBase="ou=Group,ou=ActiveMQ,ou=systems,dc=acme,dc=com" 
    roleName=cn 
    roleSearchMatching="(member:=uid={1})" 
    roleSearchSubtree=true 
    ; 
 };

/**ldap-ol-with-roles {
    org.eclipse.jetty.jaas.spi.LdapLoginModule required
    debug="false"
    useLdaps="false"
    contextFactory="com.sun.jndi.ldap.LdapCtxFactory"
    hostname=""
    port="389"
    bindDn="CN=,OU=Service-Accounts,DC=my,DC=domain,DC=com"
    bindPassword="##########"
    authenticationMethod="simple"
    forceBindingLogin="false"
    userBaseDn="ou=Users,DC=my,DC=domain,DC=com"
    userRdnAttribute="sAMAccountName"
    userIdAttribute="sAMAccountName"
    userPasswordAttribute="unicodePwd"
    userObjectClass="user"
    userRoleName="memberof"
    authzIdentity="{displayName}"
    roleSearch="(member={0})"
    roleName="cn"
    roleSubtree="true"
    roleBaseDn="ou=Keybox-Groups,DC=my,DC=domain,DC=com"
    roleNameAttribute="sAMAccountName"
    roleMemberAttribute="member"
    roleObjectClass="group"
};*/

