
LDAPLogin {
  org.apache.activemq.jaas.LDAPLoginModule required
    debug=true
    initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
    connectionURL="ldap://##### LDAP_HOST #####:##### LDAP_PORT #####"
    connectionUsername="##### LDAP_CONN_USER #####"
    connectionPassword="##### LDAP_CONN_USER_PWD #####"
    connectionProtocol=""
    authentication=simple
    userBase="##### LDAP_USER_BASE #####"
    userRoleName=admins
    userSearchMatching="(uid={0})"
    userSearchSubtree=false
    roleBase="##### LDAP_ROLE_BASE #####"
    roleName=cn
    roleSearchMatching="(member=uid={1})"
    roleSearchSubtree=true;
}; 

ldaptive-activemq-ldap {
  org.ldaptive.jaas.LdapLoginModule required
      debug=true
      storePass="true"
      ldapUrl="ldap://##### LDAP_HOST #####:##### LDAP_PORT #####"
      bindDn="##### LDAP_CONN_USER #####"
      bindCredential="##### LDAP_CONN_USER_PWD #####"
      baseDn="##### LDAP_USER_BASE #####"
      useStartTLS="false"
      subtreeSearch=true
      userFilter="(uid={user})";
  org.ldaptive.jaas.LdapRoleAuthorizationModule required
      useFirstPass="true"
      ldapUrl="ldap://##### LDAP_HOST #####:##### LDAP_PORT #####"
      bindDn="##### LDAP_CONN_USER #####"
      bindCredential="##### LDAP_CONN_USER_PWD #####"
      baseDn="##### LDAP_ROLE_BASE #####"
      useStartTLS="false"
      subtreeSearch=true
      roleFilter="(&(objectClass=groupOfNames)(member=uid={user}))"
      roleAttribute="cn";
};
